img{width:200px;
    height:200px;}
body {padding: 0.5em;
        display:inline-block;
        background-color: white;}
nav li { padding: 0.5em;
            display: inline-block;}
nav a {display:block;}
main a:link{color:black;}
nav a:visited{color:black;}
nav ul ul{background-color: white;
            background-size: cover;}
            
            table{text-align: center;
                    margin-left:auto;
                    margin-right:auto;
                    border-spacing: 2em;
                    font-size: large;
                    font-family: 'Courier New', Courier, monospace;}
            table a:link{color:lightskyblue;}
